<link href="~/css/ChateStyle.css" rel="stylesheet" />
<div class="content">
    <div>
        <nav>
        </nav>
        <div>
            <div>
            </div>
            <div>
            </div>
        </div>
    </div>
    <script src="~/js/SignalRConector.js"></script>
</div>